<?xml version="1.0" encoding="utf-8" ?>
<Menu >
  <!-- 基本的功能集合 -->
  <MenuItem ID ="1" Text="常用控件与页面" CSSClass="">
    <!-- 用描述来隔开不然看着头疼 -->
    <MenuItem ID="1.1" Text="Home" Controller="" Action="" CSSClass="fa-home">
      <MenuItem ID="1.1.1" Text="初始展示页" Controller="Home" Action="Index"  ChildAction="Data"></MenuItem>
      <MenuItem ID="1.1.2" Text="仪表盘1" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.1.3" Text="仪表盘2" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.1.3" Text="仪表盘3" Controller="" Action=""  ChildAction="Data" ></MenuItem>
    </MenuItem>
    <!-- 控件的库 -->
    <MenuItem ID="1.2" Text="控件集合" Controller="" Action="" CSSClass="fa-edit">
      <MenuItem ID="1.2.1" Text="一般表格" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.2.2" Text="高级组件" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.2.3" Text="表格验证" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.2.4" Text="表单向导" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.2.5" Text="表格上传" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.2.6" Text="表格按钮" Controller="" Action=""  ChildAction="Data" ></MenuItem>
    </MenuItem>
    <!-- ui元素库 -->
    <MenuItem ID="1.3" Text="ui元素" Controller="" Action="" CSSClass="fa-desktop">
      <MenuItem ID="1.3.1" Text="一般元素" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.3.2" Text="媒体库" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.3.3" Text="排版" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.3.4" Text="图标库" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.3.5" Text="符号库" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.3.6" Text="小工具" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.3.7" Text="发票" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.3.8" Text="收件箱" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.3.9" Text="日历" Controller="" Action=""  ChildAction="Data" ></MenuItem>
    </MenuItem>
    <!-- 表0.0库 -->
    <MenuItem ID="1.4" Text="表" Controller="" Action="" CSSClass="fa-table">
      <MenuItem ID="1.4.1" Text="静态表" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.4.2" Text="动态表" Controller="" Action=""  ChildAction="Data" ></MenuItem>
    </MenuItem>
    <!-- 图表库 一堆组件感觉都好厉害-->
    <MenuItem ID="1.5" Text="图表" Controller="" Action="" CSSClass="fa-bar-chart-o">
      <MenuItem ID="1.5.1" Text="Chart js" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.5.2" Text="Chart js2" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.5.3" Text="Moris js" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.5.4" Text="ECharts" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.5.5" Text="Other Charts" Controller="" Action=""  ChildAction="Data" ></MenuItem>
    </MenuItem>
    <!-- 其实就是一个边栏和页脚-->
    <MenuItem ID="1.6" Text="布局" Controller="" Action="" CSSClass="fa-clone">
      <MenuItem ID="1.5.1" Text="固定边栏" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="1.5.2" Text="固定页脚" Controller="" Action=""  ChildAction="Data" ></MenuItem>
    </MenuItem>
    
  </MenuItem>
  <!-- /基本的功能集合 -->
  
  <!-- 传说中的高级功能 -->
  <MenuItem ID ="2" Text="高级功能">
    <!-- 额外页面 -->
    <MenuItem ID="2.1" Text="附加页面" Controller="" Action="" CSSClass="fa-bug">
      <MenuItem ID="2.1.1" Text="电商页" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="2.1.2" Text="项目进度" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="2.1.3" Text="项目细节" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="2.1.4" Text="名片" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="2.1.5" Text="人物资料" Controller="" Action=""  ChildAction="Data" ></MenuItem>
    </MenuItem>
    <!-- 系统页面 -->
    <MenuItem ID="2.2" Text="系统页面" Controller="" Action="" CSSClass="fa-windows">
      <MenuItem ID="2.2.1" Text="403错误" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="2.2.2" Text="404错误" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="2.2.3" Text="500错误" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="2.2.4" Text="原始页面" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      <MenuItem ID="2.2.5" Text="定价页面" Controller="" Action=""  ChildAction="Data" ></MenuItem>
    </MenuItem>
    <!-- 菜单无限分级,在下没写限制,不过最好别超过两级,颜值限制你的菜单 -->
    <MenuItem ID="2.2" Text="多级菜单" Controller="" Action="" CSSClass="fa-sitemap">
      <MenuItem ID="2.2.1" Text="一级菜单_1" Controller="" Action=""  ChildAction="Data" >
        <MenuItem ID="2.2.1.1" Text="二级菜单_1" Controller="" Action=""  ChildAction="Data" ></MenuItem>
        <MenuItem ID="2.2.1.1" Text="二级菜单_2" Controller="" Action=""  ChildAction="Data" ></MenuItem>
      </MenuItem>
      <MenuItem ID="2.2.2" Text="一级菜单_2" Controller="" Action=""  ChildAction="Data" ></MenuItem>
    </MenuItem>
    
  </MenuItem>
</Menu>
<!--<MenuItem ID="1.1" Text="菜单名称" Controller="控制器名称(没有就为空)" Action="操作方法(没有就为空)"  ChildAction="子方法" CSSClass="菜单样式"></MenuItem>-->