@{
    ViewBag.Title = "固定边栏";
}

@section css{
    <!-- jQuery custom content scroller -->
    <link href="../vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>固定边栏 <small> 只用添加 class <strong>menu_fixed</strong></small></h3>
        </div>
    </div>
</div>

@section scripts{
    <!-- jQuery custom content scroller -->
    <script src="../vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
}